body {
  font-family: sans-serif;
  background: #fafafa;
  padding: 2rem;
}

.controls {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}
#search {
  padding: 8px;
  flex: 1;
}
#add {
  padding: 8px 2px;
}

.org-table {
  width: 100%;
  border-collapse: collapse;
}

.org-table th,
.org-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.org-table th,
.org-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.clickable-header {
  cursor: pointer;
  background: #f7f7f7;
}

.delete-cell {
  cursor: pointer;
  text-align: center;
}

.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
}

.pagination button {
  padding: 4px 10px;
}

.pagination span {
  font-size: 14px;
}

.modal {
  background: white;
  padding: 16px;
  width: 420px;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.modal.hidden {
  display: none;
}

.modal-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 400px;
  padding: 16px;
}

#modal-form {
  width: 100%;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  gap: 4px;
}

.form-label {
  font-size: 16px;
}

.form-input {
  font-size: 16px;
  padding: 8px;
}
.form-input.invalid {
  border: 1px solid red;
  background-color: lightsalmon;
}

#modal-form fieldset {
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.buttons button {
  padding: 8px;
}
